<body class="logoutpage">
<div class="container vertical-center">
  <form action="auth/logout" method="GET">
    <p>You have just log out, please log in again if you need to use.</p>
  </form>
</div>
</body>
