<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Note Taker</title>

  </head>
  <body class="mainpage">
    <nav class="navbar navbar-default">
       <div class="container-fluid">
          <div class="navbar-header col-md-6">
            <label class="navbar-brand">My Note Taker!</label>
          </div>
          <ul class="nav navbar-nav text-right pull-right">
          <!-- <ul class="nav navbar-nav col-md-6 text-right pull-right"> -->
            <li>
              <button type="button" class="btn btn-lg btn-success custom-button-width .navbar-right"><a href="#">Home</a></button>
            </li>
            <li>
              <!-- Trigger the modal with a button -->
              <button type="button" class="btn btn-lg btn-warning custom-button-width .navbar-right" id="myBtn" data-toggle="modal" data-target="#myModal"><a>Log In/Sign Up</a></button>
            </li>
            <li>
              <!-- Trigger the modal with a button -->
              <form action="auth/logout" method="GET">
                <button type="button" class="btn btn-lg btn-danger custom-button-width .navbar-right"><a href="auth/logout">Log Out</a></button>
              </form>
            </li>
          </ul>
        </div>
      </nav>
      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px;">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
            </div>
            <div class="modal-body" style="padding:40px 50px;">
              <form role="form" action="auth/login" method="POST">
                <div class="form-group">
                  <label for="usrid"><span class="glyphicon glyphicon-user"></span> Email</label>
                  <input type="text" class="form-control" id="usremail" placeholder="Enter email" name="email">
                  <!-- <input type="text" class="form-control" id="usremail" placeholder="Enter email" name="email" value="chua@gmail.com"> -->
                </div>
                <div class="form-group">
                  <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
                  <input type="text" class="form-control" id="usrname" placeholder="Enter name" name="username">
                  <!-- <input type="text" class="form-control" id="usrname" placeholder="Enter name" name="username" value="chua"> -->
                </div>
                <div class="form-group">
                  <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                  <input type="password" class="form-control" id="psw" placeholder="Enter password" name="password">
                  <!-- <input type="text" class="form-control" id="psw" placeholder="Enter password" name="password" value="12345678"> -->
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" value="" checked>Remember me</label>
                </div>
                  <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                <p class="control-font">New member? <a class="control-font1" method="POST" href="auth/signup">Sign Up</a></p>
                <!-- <p class="control-font">Forgot <a class="control-font1" href="#">Password?</a></p> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <p></p>
    <p>This is a safe place for you to record your notes and saved them for your future reference.</p>

  </body>
</html>
